.register_wrap_bg{
        background-image: url("/img/background.png");
height: 100vh;
background-position: top;
background-repeat: no-repeat;
background-size: cover;

}

.register_btn{
    display: none;
}
.register_btn_hide{
    display: block;
}